---
import SectionAboutMeLayout from '../../layouts/SectionAboutMeLayout.astro'
import Timeline from './Timeline.astro'
import Hability from './Hability.astro'
import Skill from './Skill.astro'

const titles = [
    "Experiencias",
    "Tecnologías",
    "Aptitudes",
]
const data = [
    {
        event: "Técnico Superior en Desarrollo de Aplicaciones Web",
        place: "EFA El Campico (Jacarilla)",
        time: [
            "Sep 2023 - Jun 2025",
            ],
        tasks: [
            "Desarrollo Full-Stack",
            "Bases de datos en MySQL y MariaDB",
            "Servicios API REST",
            "Despliegue de aplicaciones en Docker",
            "Diseño de aplicaciones en Figma, CSS, SASS y Tailwind"
        ]
    },
    {
        event: "Programador industrial",
        place: "Electrosegura (Orihuela)",
        time: [
            "Feb 2023 - May 2024",
            "Jun 2020 - Sep 2020"
            ],
        tasks: [
            "PLCs y variadores Omron, Siemens y Mitsubishi",
            "Esquemas eléctricos",
            "Pantallas HMI con Weintek",
            "Manuales de usuario",
            "Cuadros eléctricos y puesta en marcha"
        ]
    },
    {
        event: "Programador industrial",
        place: "Elmec Torres (Elche)",
        time: [
            "Jul 2021 - Feb 2023",
            ],
        tasks: [
            "PLCs y variadores Unitronics y Eura",
            "Esquemas eléctricos",
            "Manuales de usuario",
            "Cuadros eléctricos y puesta en marcha"
        ]
    },
    {
        event: "Técnico Superior en Automatización y Robótica Industrial",
        place: "IES Azud de Alfeitamí (Almoradí)",
        time: [
            "Sep 2018 - Jun 2020",
            ],
        tasks: [
            "PLCs Omron y Siemens",
            "Esquemas eléctricos en See Electrical",
            "Pantallas HMI y SCADA en WinCC, TiaPortal y CX-Supervisor"
        ]
    },
]

const technologies = {
  'angular': '..../technologies/angular.svg',
  'astro': '../technologies/astro.svg',
  'docker': '../technologies/docker.svg',
  'figma': '../technologies/figma.svg',
  'git': '../technologies/git.svg',
  'html': '../technologies/html5.svg',
  'javascript': '../technologies/javascript.svg',
  'laravel': '../technologies/laravel.svg',
  'eclipse': '../technologies/eclipseide.svg',
  'css': '../technologies/css.svg',
  'mysql': '../technologies/mysql.svg',
  'mariadb': '../technologies/mariadb.svg',
  'tailwind': '../technologies/tailwindcss.svg',
  'typescript': '../technologies/typescript.svg',
  'ubuntu': '../technologies/ubuntu.svg',
}
const habilities = [
    "Dinámico",
    "Proactivo",
    "Responsable",
    "Trabajo en equipo"
]
---

<div id="about" class="pt-24 sm:pt-20 grid content-arround grid-cols-1 sm:grid-cols-2 sm:gap-4">
    <SectionAboutMeLayout title={ titles[1] } className="bg-white/60 dark:bg-slate-800/60">
        <div class="w-full grid grid-cols-5 grid-rows-3 gap-3 justify-between">
            {Object.entries(technologies).map(([name, src]) => (
                <Skill name={ name } src={ src } />
            ))}
        </div>
    </SectionAboutMeLayout>

    <SectionAboutMeLayout title={ titles[2] } className="bg-gray-300/60 dark:bg-slate-600/60">
        <div class="w-full h-full grid grid-cols-2 grid-rows-2 sm:grid-cols-1 sm:grid-rows-4 gap-2 items-center">
            {habilities.map((hability) => (
                <Hability name={ hability } />
            ))}
        </div>
    </SectionAboutMeLayout>

    <SectionAboutMeLayout title={ titles[0] } className="bg-white/60 dark:bg-slate-900/60 sm:col-span-2">
        <Timeline events={ data } />
    </SectionAboutMeLayout>
</div>

