---
import SectionAboutMeLayout from '../../layouts/SectionAboutMeLayout.astro'
import Timeline from './Timeline.astro'
import Hability from './Hability.astro'
import Skill from './Skill.astro'

import HTML from '../../images/skills/html.svg'
import CSS from '../../images/skills/logo-css.avif'
import Tailwind from '../../images/skills/tailwind-green.svg'
import Figma from '../../images/skills/figma.svg'
import Java from '../../images/skills/java.svg'
import JS from '../../images/skills/js.svg'
import TP from '../../images/skills/typescript.svg'
import Angular from '../../images/skills/angular.svg'
import Astros from '../../images/skills/astro.svg'
import Laravel from '../../images/skills/laravel.svg'
import MySQL from '../../images/skills/mysql.svg'
import Docker from '../../images/skills/docker.svg'
import Git from '../../images/skills/github-color.svg'
import Ubuntu from '../../images/skills/ubuntu.svg'
import Vstudio from '../../images/skills/vstudio.svg'

const titles = [
    "Experiencias",
    "Tecnologías",
    "Aptitudes",
]

const data = [
    {
        event: "Técnico Superior en Desarrollo de Aplicaciones Web",
        place: "EFA El Campico (Jacarilla)",
        time: [
            "Sep 2023 - Jun 2025",
            ],
        tasks: [
            "Desarrollo Full-Stack",
            "Bases de datos en MySQL y MariaDB",
            "Servicios API REST",
            "Despliegue de aplicaciones en Docker",
            "Diseño de aplicaciones en Figma, CSS, SASS y Tailwind"
        ]
    },
    {
        event: "Programador industrial",
        place: "Electrosegura (Orihuela)",
        time: [
            "Feb 2023 - May 2024",
            "Jun 2020 - Sep 2020"
            ],
        tasks: [
            "PLCs y variadores Omron, Siemens y Mitsubishi",
            "Esquemas eléctricos",
            "Pantallas HMI con Weintek",
            "Manuales de usuario",
            "Cuadros eléctricos y puesta en marcha"
        ]
    },
    {
        event: "Programador industrial",
        place: "Elmec Torres (Elche)",
        time: [
            "Jul 2021 - Feb 2023",
            ],
        tasks: [
            "PLCs y variadores Unitronics y Eura",
            "Esquemas eléctricos",
            "Manuales de usuario",
            "Cuadros eléctricos y puesta en marcha"
        ]
    },
    {
        event: "Técnico Superior en Automatización y Robótica Industrial",
        place: "IES Azud de Alfeitamí (Almoradí)",
        time: [
            "Sep 2018 - Jun 2020",
            ],
        tasks: [
            "PLCs Omron y Siemens",
            "Esquemas eléctricos en See Electrical",
            "Pantallas HMI y SCADA en WinCC, TiaPortal y CX-Supervisor"
        ]
    },
]
const habilities2 = { 
    HTML, 
    CSS,
    Tailwind,
    Figma, 
    Java,
    JS,
    TP,
    Angular,
    Astros,
    Laravel,
    MySQL,
    Docker,
    Git, 
    Ubuntu,
    Vstudio
}
const habilities = {
    HTML: 'si si-html5',
    CSS: 'si si-css3',
    Tailwind: 'si si-tailwindcss',
    Figma: 'si si-figma',
    JavaScript: 'si si-javascript',
    TypeScript: 'si si-typescript',
    Angular: 'si si-angular',
    Astro: 'si si-astro',
    Laravel: 'si si-laravel',
    MySQL: 'si si-mysql',
    MariaDB: 'si si-mariadb',
    Docker: 'si si-docker',
    Git: 'si si-git',
    Postman: 'si si-postman',
    Vstudio: 'si si-visualstudiocode'
}
const skills = [
    "Dinámico",
    "Proactivo",
    "Responsable",
    "Trabajo en equipo"
]
---

<div id="about" class="pt-24 sm:pt-20 grid content-arround grid-cols-1 sm:grid-cols-2 sm:gap-4">
    <SectionAboutMeLayout title={ titles[1] } className="bg-white/60 dark:bg-slate-800/60">
        <div class="w-full grid grid-cols-5 grid-rows-3 gap-3 justify-between">
            {Object.entries(habilities).map(([name, src]) => (
                <Hability name={ name } src={ src } />
            ))}
        </div>
    </SectionAboutMeLayout>

    <SectionAboutMeLayout title={ titles[2] } className="bg-gray-300/60 dark:bg-slate-600/60">
        <div class="w-full h-full grid grid-cols-2 grid-rows-2 sm:grid-cols-1 sm:grid-rows-4 gap-2 items-center">
            {skills.map((skill) => (
                <Skill name={ skill } />
            ))}
        </div>
    </SectionAboutMeLayout>

    <SectionAboutMeLayout title={ titles[0] } className="bg-white/60 dark:bg-slate-900/60 sm:col-span-2">
        <Timeline events={ data } />
    </SectionAboutMeLayout>
</div>

