---
import SectionAboutMeLayout from '../../layouts/SectionAboutMeLayout.astro'
import Timeline from './Timeline.astro'
import Hability from './Hability.astro'
import Skill from './Skill.astro'

import HTML from '../../images/skills/html.svg'
import CSS from '../../images/skills/logo-css.avif'
import Tailwind from '../../images/skills/tailwind-green.svg'
import Figma from '../../images/skills/figma.svg'
import Java from '../../images/skills/java.svg'
import JS from '../../images/skills/js.svg'
import TP from '../../images/skills/typescript.svg'
import Angular from '../../images/skills/angular.svg'
import Astros from '../../images/skills/astro.svg'
import Laravel from '../../images/skills/laravel.svg'
import MySQL from '../../images/skills/mysql.svg'
import Docker from '../../images/skills/docker.svg'
import Git from '../../images/skills/github-color.svg'
import Ubuntu from '../../images/skills/ubuntu.svg'
import Vstudio from '../../images/skills/vstudio.svg'

const pageTitle = "Sobre mí"
const titles = [
    "Cronología",
    "Habilidades",
    "Aptitudes",
    "Idiomas"
]
const data = [
    {
        year: "2025",
        months: [
            {
                month: "Sep",
                events: [
                    "Empiezo en DXC Technology en la sección de backend"
                ]
            },
            {
                month: "Jun",
                events: [
                    "Termino los estudios de Técnico Superior en Desarrollo de Aplicaciones Web"
                ]
            }
        ]
    },
    {
        year: "2024",
        months: [
            {
                month: "May",
                events: [
                    "Dejo mi trabajo como programador industrial en Electrosegura"
                ]
            }
        ]
    },
    {
        year: "2023",
        months: [
            {
                month: "Sep",
                events: [
                    "Empiezo los estudios de Técnico Superior en Desarrollo de Aplicaciones Web"
                ]
            },
            {
                month: "Feb",
                events: [
                    "Empiezo como programador industrial en Electrosegura",
                    "Dejo mi trabajo como programador industrial en Elmec Torres"
                ]
            }
        ]
    },
    {
        year: "2021",
        months: [
            {
                month: "Jul",
                events: [
                    "Empiezo como programador industrial en Elmec Torres"
                ]
            }
        ]
    },
    {
        year: "2020",
        months: [
            {
                month: "Jun",
                events: [
                    "Termino los estudios de Técnico Superior en Automatización y Robótica Industrial"
                ]
            }
        ]
    },
    {
        year: "2018",
        months: [
            {
                month: "Sept",
                events: [
                    "Empiezo los estudios de Técnico Superior en Automatización y Robótica Industrial"
                ]
            }
        ]
    },
]
const habilities = { 
    HTML, 
    CSS,
    Tailwind,
    Figma, 
    Java,
    JS,
    TP,
    Angular,
    Astros,
    Laravel,
    MySQL,
    Docker,
    Git, 
    Ubuntu,
    Vstudio
}
const skills = [
    "Trabajar en equipo",
    "Proactivo",
    "Responsable",
    "Ordenado"
]
---

<div id="about" class="h-dvh pt-32 sm:pt-20 grid gap-5 content-arround grid-cols-1 grid-rows-4 lg:px-20 md:grid-cols-3">
    <SectionAboutMeLayout title={ titles[0] } className="row-span-2 md:row-span-4 md:col-span-2">
        <Timeline events={ data } />
    </SectionAboutMeLayout>

    <SectionAboutMeLayout title={ titles[1] } className="row-span-1 md:row-span-3">
        <div class="w-full grid grid-flow-col gap-4 pb-3 overflow-auto md:pb-0 md:grid-cols-2 lg:grid-cols-3 md:grid-flow-row justify-items-center">
            {Object.entries(habilities).map(([name, src]) => (
                <div>
                    <Hability name={ name } src={ src } />
                </div>
            ))}
        </div>
    </SectionAboutMeLayout>

    <SectionAboutMeLayout title={ titles[2] } className="row-span-1">
        <div class="w-full grid grid-cols-2 grid-rows-2 gap-2 items-center">
            {skills.map((skill) => (
                <Skill name={ skill } />
            ))}
        </div>
    </SectionAboutMeLayout>
</div>

