---
const { name }  = Astro.props
---

<h2 class="text-xl sm:text-2xl xl:text-3xl w-52 text-center py-0.5 rounded bg-lime-400/60 dark:bg-teal-600/60 text-black dark:text-white font-title tracking-widest">
    { name }
</h2>