---
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionAboutMe from '../layouts/SectionAboutMe.astro';
import Timeline from '../components/Timeline.astro';
import Hability from '../components/Hability.astro';
import Skill from '../components/Skill.astro';
import Flag from '../components/Flag.astro';

import Angular from '../images/skills/logo-angular.svg';
import JS from '../images/skills/logo-javascript.svg';
import Docker from '../images/skills/logo-docker.svg';
import Git from '../images/skills/logo-github.svg';
import HTML from '../images/skills/logo-html5.svg';
import CSS from '../images/skills/logo-css3.svg';
import Laravel from '../images/skills/logo-laravel.svg';

import Español from '../images/flags/español.svg';
import Ingles from '../images/flags/gran bretaña.svg';
import Valenciano from '../images/flags/valenciano.svg';

const pageTitle = "Sobre mí";
const titles = [
    "Cronología",
    "Habilidades",
    "Aptitudes",
    "Idiomas"
];
const data = [
    {
        year: "2025",
        months: [
            {
                month: "Sep",
                events: [
                    "Empiezo en DXC Technology en la sección de backend"
                ]
            },
            {
                month: "Jun",
                events: [
                    "Termino los estudios de Técnico Superior en Desarrollo de Aplicaciones Web"
                ]
            }
        ]
    },
    {
        year: "2024",
        months: [
            {
                month: "May",
                events: [
                    "Dejo mi trabajo como programador industrial en Electrosegura"
                ]
            }
        ]
    },
    {
        year: "2023",
        months: [
            {
                month: "Sep",
                events: [
                    "Empiezo los estudios de Técnico Superior en Desarrollo de Aplicaciones Web"
                ]
            },
            {
                month: "Feb",
                events: [
                    "Empiezo como programador industrial en Electrosegura",
                    "Dejo mi trabajo como programador industrial en Elmec Torres"
                ]
            }
        ]
    },
    {
        year: "2021",
        months: [
            {
                month: "Jul",
                events: [
                    "Empiezo como programador industrial en Elmec Torres"
                ]
            }
        ]
    },
    {
        year: "2020",
        months: [
            {
                month: "Jun",
                events: [
                    "Termino los estudios de Técnico Superior en Automatización y Robótica Industrial"
                ]
            }
        ]
    },
    {
        year: "2018",
        months: [
            {
                month: "Sept",
                events: [
                    "Empiezo los estudios de Técnico Superior en Automatización y Robótica Industrial"
                ]
            }
        ]
    },
];
const habilities = { 
    HTML, 
    CSS, 
    JS, 
    Git, 
    Docker, 
    Angular, 
    Laravel 
};
const skills = [
    "Trabajo en equipo",
    "Proactivo",
    "Responsable",
    "Ordenado"
];
const languages = {
    Español,
    Ingles,
    Valenciano
};
---

<BaseLayout pageTitle={ pageTitle }>
    <div class="grid gap-4 sm:gap-6 lg:gap-10 lg:px-20 lg:grid-cols-3">
        <SectionAboutMe title={ titles[0] } className="lg:col-span-2">
            <Timeline events={ data } />
        </SectionAboutMe>

        <div class="flex flex-col gap-4 sm:gap-6 lg:gap-10">
            <SectionAboutMe title={ titles[1] }>
                <div class="flex flex-row gap-2 flex-wrap justify-center">
                    {Object.entries(habilities).map(([name, src]) => (
                        <Hability name={ name } src={ src } />
                    ))}
                </div>
            </SectionAboutMe>
    
            <SectionAboutMe title={ titles[2] }>
                <div class="flex flex-row gap-2 flex-wrap justify-center">
                    {skills.map((skill) => (
                        <Skill name={ skill } />
                    ))}
                </div>
            </SectionAboutMe>
    
            <SectionAboutMe title={ titles[3] }>
                <div class="flex flex-row gap-2 flex-wrap justify-center">
                    {Object.entries(languages).map(([name, src]) => (
                        <Flag name={ name } src={ src } />
                    ))}
                </div>
            </SectionAboutMe>
        </div>
    </div>
</BaseLayout>