---
import BaseLayout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'

const pageTitle = "Inicio"
const cards = [
  {
    title: "Sobre mí",
    url: "/about/"
  },
  {
    title: "Mis proyectos",
    url: "/projects/"
  },
  {
    title: "Contacto",
    url: "/contact/"
  }
]
---

<BaseLayout pageTitle={ pageTitle }>
  <h1 class="text-3xl xl:text-5xl text-center font-bold">Bienvenidos a mi portfolio</h1>

  <div class="w-full h-full grid grid-rows-3 lg:grid-rows-1 lg:grid-cols-3 items-center justify-items-center gap-5 2xl:gap-20">
    {cards.map(({ title, url }) => (
      <Card cardTitle={ title } url={ url } />
    ))}
  </div>
</BaseLayout>
