---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets'
import About from '../components/about/About.astro'
import Contact from '../components/contact/Contact.astro'

const pageTitle = "Inicio"
const Avatar = '/avatar.png'
---

<BaseLayout pageTitle={ pageTitle }>
  <div id="home" class="grid grid-cols-1 grid-rows-[1fr_auto_auto] items-center sm:gap-5 sm:px-4 sm:pb-5 xl:px-32 2xl:px-60">
    <div class="relative h-dvh flex flex-col items-center justify-center gap-5 md:gap-12">
      <Image src={ Avatar } alt="Avatar" width=20 height=20 class="w-36 h-36 md:w-56 md:h-56 rounded-full border-2 border-slate-800 dark:border-slate-500 bg-teal-800/30" />
      <div>
        <h1 class="text-3xl md:text-4xl 2xl:text-5xl text-center font-title tracking-widest">
          ¡Hola!<br>Soy Víctor Mora<br><span class="text-2xl md:text-3xl 2xl:text-4xl">Web developer</span>
        </h1>
      </div>
      <a href="#about" class="absolute bottom-10 left-1/2 transform -translate-x-1/2">
        <svg class="w-10 h-10 text-gray-900 dark:text-white animate-bounce" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
        </svg>
      </a>
    </div>
    <About />
    <Contact />
  </div>
</BaseLayout>
