---
import BaseLayout from '../layouts/BaseLayout.astro'
import Card from '../components/Card.astro'

const allProjects = await Astro.glob('../pages/projects/*.md')
const pageTitle = "Mis proyectos"
const bg = '/bg-projects.webp'
---

<BaseLayout pageTitle={ pageTitle } bg={ bg }>
    <section class="flex flex-col items-center gap-5 md:gap-10">
        <h1 class="text-xl md:text-2xl 2xl:text-3xl text-center font-title tracking-widest">Estos son los proyectos que tengo desarrollados hasta el momento</h1>
        <div class="w-full max-w-6xl grid gap-4 grid-cols-1 md:grid-cols-2">
            {allProjects.map((project) => 
                <Card url={ project.url } cardTitle={ project.frontmatter.title } img={ project.frontmatter.image.src } bg={ project.frontmatter.bg.src } />
            )}
        </div>
    </section>
</BaseLayout>