---
import LinkNav from "./LinkNav.astro"
---

<nav id="dropdown-menu" class="h-full grid grid-rows-4 md:grid-rows-1 md:grid-cols-4 max-h-0 lg:max-h-max overflow-hidden transition-all duration-500 ease-in-out">
    <LinkNav href="/" name="Inicio" />
    <LinkNav href="/#about" name="Sobre mí" />
    <LinkNav href="/projects/" name="Proyectos" />
    <LinkNav href="/#contact" name="Contacto" />
</nav>

<button id="toggle-menu" class="lg:hidden w-max p-2 text-md hover:cursor-pointer transition-all duration-500 ease-in-out">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6 9l6 6 6-6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</button>

<script src="../../scripts/desplegableMenu.js"></script>