---
import { Image } from 'astro:assets'

const { src, name } = Astro.props
---

<div class="rounded-full bg-slate-300 dark:bg-amber-50">
    <Image src={ src } alt={ name } class="p-2 w-10 h-10 sm:w-14 sm:h-14 " />
</div>