---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';

const currentPath = Astro.url.pathname;
const pageTitles: Record<string, string> = {
    "/": "Inicio",
    "/about/": "Sobre mí",
    "/projects/": "Mis proyectos",
    "/contact/": "Contacto",
};
const currentTitle = pageTitles[currentPath] || "Página desconocida";
---
<header id="site-header" class="pt-1 bg-blue-300 dark:bg-slate-950 text-black dark:text-white font-bold flex flex-col items-center">
  <h1 class="w-max text-xl">{currentTitle}</h1>
  
  <div class="flex flex-col items-center gap-1">
    <Navigation />
  </div>

  <ThemeIcon />
</header>
