---
---

<nav class="flex flex-col w-max justify-items-center border">
    <a href="/" class="py-1 px-5">Inicio</a>
    <a href="/about/" class="py-1 px-5">Sobre m&iacute;</a>
    <a href="/projects/" class="py-1 px-5">Mis proyectos</a>
    <a href="/contact/" class="py-1 px-5">Contacto</a>
</nav>
