---
import LinkNav from "./LinkNav.astro";
---

<nav id="dropdown-menu" class="grid grid-rows-4 md:grid-rows-1 md:grid-cols-4 max-h-0 lg:max-h-max lg:h-10 overflow-hidden transition-all duration-500 ease-in-out">
    <LinkNav href="/" name="Inicio" />
    <LinkNav href="/about/" name="Sobre mí" />
    <LinkNav href="/projects/" name="Mis proyectos" />
    <LinkNav href="/contact/" name="Contacto" />
</nav>

<button id="toggle-menu" class="lg:hidden w-max p-2 text-md hover:cursor-pointer transition-all duration-500 ease-in-out">▼</button>

<script src="../scripts/desplegableMenu.js"></script>