---
import { Image } from 'astro:assets'

const { platform, src } = Astro.props
---

<a href={`https://www.${platform}.com/victor`} class="lg:hover:scale-110 transition-all duration-200 ease-in-out">
    <Image src={ src } alt={ platform } class="w-6 h-6 lg:w-8 lg:h-8" />
</a>
