---
import Year from '../components/Year.astro';
import Month from '../components/Month.astro';
import Event from '../components/Event.astro';

interface Event {
    event: string;
}

interface Month {
    month: string;
    events: Event[];
}

interface Year {
    year: number;
    months: Month[];
}

const { events }: { events: Year[] } = Astro.props as { events: Year[] };
---

<div class="grid gap-1 h-48 overflow-auto pr-3 lg:h-full">
    {events.map(({ year, months }) => (
        <div class="flex flex-row gap-2">
            <Year year={ year } />

            <div class="flex flex-col gap-4">
                {months.map(({ month, events }) => (
                    <div class="grid grid-cols-[40px_auto] gap-2">
                        <Month month={ month } />

                        <div class="flex flex-col gap-1">
                            {events.map((event) => (
                                <Event event={ event } />
                            ))}
                        </div>
                    </div>
                ))}
            </div>
        </div>
    ))}
</div>

