---
const { name }  = Astro.props
---

<h2 class="md:text-lg lg:text-xl w-52 text-center py-0.5 rounded bg-lime-400 dark:bg-teal-600 text-black dark:text-white font-title tracking-widest">
    { name }
</h2>