---
const { name, className }  = Astro.props
---

<h2 class={`${className} text-xl sm:text-2xl 2xl:text-2xl text-center py-0.5 rounded bg-lime-400/60
             dark:bg-teal-600/60 text-black dark:text-white font-title tracking-widest`}>
    { name }
</h2>