---
const { year } = Astro.props;
---

<div class="flex flex-row gap-1 h-full">
    <p class="font-bold">{ year }</p>
    <div class="h-full flex flex-col items-center">
        <div class="w-2 h-2 rounded-full bg-black dark:bg-white"></div>
        <div class="h-full w-0.5 bg-black dark:bg-white"></div>
    </div>
</div>