---
import Social from './Social.astro'

const platforms = {
    x: 'bi bi-twitter-x',
    youtube: 'bi bi-youtube',
    instagram: 'bi bi-instagram',
    linkedin: 'bi bi-linkedin',
    discord: 'bi bi-discord',
}
const chanels = [
  {
    name: "x",
    img: platforms.x,
    link: "https://twitter.com/Sr_Mora23"
  },
  {
    name: "youtube",
    img: platforms.youtube,
    link: "https://www.youtube.com/@VicMR23"
  },
  {
    name: "instagram",
    img: platforms.instagram,
    link: "https://www.instagram.com/vic_mora23"
  },
  {
    name: "linkedin",
    img: platforms.linkedin,
    link: "https://www.linkedin.com/in/víctor-mora-rosique/"
  },
  {
    name: "discord",
    img: platforms.discord,
    link: "https://discord.com/users/0424"
  }
]
---

<footer class="p-2 w-full flex flex-col gap-0 items-center justify-center bg-slate-700 dark:bg-slate-950 
                shadow-footer dark:shadow-footerDark">
    <p class="font-title tracking-widest text-gray-100 dark:text-white">
      S&iacute;gueme en redes
    </p>

    <span class="font-title tracking-widest text-gray-100 dark:text-white">·</span>
    
    <div class="flex flex-row gap-6 justify-center">
      {chanels.map(({ img, link }) => (
        <Social src={ img } link={ link } />
      ))}
    </div>
</footer>
