---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body class="h-dvh flex flex-col">
    <Header />
    <main class="flex-grow bg-white dark:bg-zinc-900 text-black dark:text-white px-2 xl:px-32 2xl:px-48 py-4 flex flex-col items-center gap-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>