---
import Header from '../components/header/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle, bg } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/4.0.0-alpha.12/lib.min.js" integrity="sha512-CEXI0FkA+A658X+IBFibAv+3nZooXbnwV5mrx+nu/ZbM12MBWhbfX+bJPAJDl5BfsBD4+eLbCZDRftJBZosOzw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body class="h-dvh flex flex-col bg-gradient-to-b from-violet-200 via-gray-100 to-slate-600 dark:bg-gradient-to-b dark:from-zinc-950 dark:via-gray-700 dark:to-slate-500">
    <Header />
    <main class=`flex-grow text-black dark:text-white backdrop-blur-lg
                pt-24 lg:pt-20 px-3 xl:px-32 2xl:px-40 pb-4 flex flex-col items-center gap-10 overflow-auto bg-blend-overlay bg-no-repeat bg-cover bg-gray-300 dark:bg-slate-900`
                style={`background-image: url(${bg})`}>
      <slot />
    </main>
    <Footer />
  </body>
</html>