---
import BaseLayout from './BaseLayout.astro'
import { Image } from 'astro:assets'
import git from '../images/social/github-round-svgrepo-com.svg'

const technologies = {
  'angular': '/technologies/angular.svg',
  'astro': '/technologies/astro.svg',
  'docker': '/technologies/docker.svg',
  'figma': '/technologies/figma.svg',
  'github': '/technologies/github-color.svg',
  'html': '/technologies/html.svg',
  'java': '/technologies/java.svg',
  'javascript': '/technologies/js.svg',
  'laravel': '/technologies/laravel.svg',
  'css': '/technologies/logo-css.avif',
  'mysql': '/technologies/mysql.svg',
  'tailwind': '/technologies/tailwind-green.svg',
  'typescript': '/technologies/typescript.svg',
  'ubuntu': '/technologies/ubuntu.svg',
  'vscode': '/technologies/vscode.svg',
}
const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="relative w-full max-w-6xl p-2 2xl:p-4  flex flex-col gap-8 items-center">
    <button onclick="history.back()" class="font-title z-10 tracking-widest text-sm md:text-lg px-2 py-1 rounded-2xl absolute top-2 left-2 2xl:top-4 2xl:left-4 cursor-pointer
                                           bg-slate-300 dark:bg-slate-600 hover:bg-slate-400 dark:hover:bg-slate-700  transition duration-300 shadow-lg">
      Volver
    </button>

    <section class="relative w-full grid grid-cols-1 justify-items-center items-center gap-4 text-justify">
      <h1 class="2xl:col-span-2 font-title tracking-widest text-xl md:text-2xl">
        { frontmatter.title }
      </h1>

      <Image src={ frontmatter.image.src } alt={ frontmatter.title } width=300 height=200 class="w-20 h-20 md:w-40 md:h-40 object-contain rounded-full bg-neutral-600 shadow shadow-lime-400 dark:shadow-teal-400" />
      
      <div class="w-full 2xl:col-span-2 grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-3 gap-4 jus md:text-xl">
        <section class="p-2 2xl:col-span-2 rounded bg-slate-200 dark:bg-slate-900 shadow shadow-black">
          <h2 class="text-center font-title tracking-widest">¿C&uacute;al ha sido el desaf&iacute;o?</h2>

          <ul class="font-text flex flex-col gap-4">
            {Object.values(frontmatter.challenges).map((challenge) => (
              <li>{ challenge }</li>
            ))}
          </ul>
        </section>

        <section class="p-2 rounded bg-slate-200 dark:bg-slate-900 shadow shadow-black">
          <h2 class="text-center font-title tracking-widest">Funciones principales</h2>

          <ul class="font-text pl-4 list-outside list-disc">
            {Object.values(frontmatter.features).map((feature) => (
              <li>{ feature }</li>
            ))}
          </ul>
        </section>

        {frontmatter.technologies && 
          <section class="p-2 md:col-span-2 2xl:col-span-3 rounded bg-slate-200 dark:bg-slate-900 shadow shadow-black flex flex-col gap-4">
            <h2 class="text-center font-title tracking-widest">Tecnolog&iacute;as utilizadas</h2>
    
            <ul class="w-full font-text pb-3 grid grid-flow-col justify-between 2xl:justify-center gap-4 2xl:gap-14 overflow-auto">
              {frontmatter.technologies.map((technology: keyof typeof technologies) => (
                technologies[technology] ? (
                  <li class="w-14 h-14 flex p-3 md:p-3 rounded-full bg-slate-800 dark:bg-slate-800">
                    <Image src={technologies[technology]} alt={technology} width=50 height=50 class="object-contain" />
                  </li>
                ) : (
                  <li>{technology}</li>
                )
              ))}
            </ul>
          </section>
        }
      </div>

      { frontmatter.github && 
        <a href={ frontmatter.github } 
          target="_blank" 
          rel="noopener noreferrer" 
          class="absolute -top-2 sm:top-0 right-2 inline-flex items-center justify-center p-2 sm:p-0 sm:py-1 sm:px-2 text-white bg-slate-800 
                rounded-full shadow-lg transition duration-300 hover:bg-gray-700 focus:outline-none dark:bg-gray-700
                focus:ring-2 focus:ring-gray-600 focus:ring-opacity-50 hover:dark:bg-gray-800">
            <svg class="w-6 h-6 sm:mr-3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.54 5.47 7.61.4.07.55-.17.55-.37 0-.19-.01-.73-.01-1.41-2.22.48-2.68-.64-2.68-.64-.36-.92-.88-1.17-.88-1.17-.72-.49.05-.48.05-.48.8.06 1.23.84 1.23.84.71 1.22 1.87.87 2.32.67.07-.53.28-.87.51-1.07-1.77-.2-3.63-.89-3.63-3.95 0-.87.31-1.58.83-2.13-.08-.2-.36-.99-.14-2.04 0 0 .67-.21 2.19.83.64-.18 1.31-.27 1.98-.27s1.34.1 1.98.27c1.52-1.04 2.19-.83 2.19-.83.22 1.05-.06 1.84-.14 2.04.52.55.83 1.26.83 2.13 0 3.07-1.86 3.75-3.64 3.95.29.25.55.74.55 1.49 0 1.07-.01 1.94-.01 2.21 0 .2.15.45.55.37C13.71 14.54 16 11.54 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
            <span class="hidden sm:inline font-title tracking-widest text-sm md:text-lg">Ir al Repositorio</span>
        </a>
      }
    </section>
  </div>
</BaseLayout>