---
import Title from '../components/Title.astro';

const { title } = Astro.props;
---

<section class="flex flex-col gap-4 items-center lg:col-span-2">
    <Title name={ title } />
    <slot />
</section>